body{
    margin: 0px;
    padding: 0px;
}
form{
    background-color: cornflowerblue;
    border-radius: 4px;
    display: inline-block;
    margin: 150px 450px;
    padding: 30px;
    display:grid;
}

input[type=submit] {
    background-color: #04AA6D;
    color: white;
    padding: 12px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    
  }
  
